html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100px;
  padding-bottom: 1rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

p {
  margin: 0;
}

.btn {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-top: 1.2rem;
  padding: .6rem .8rem;
  border-radius: 8px;
}

.btn:hover {
  background-color: #000;
}

.aut {
  font-style: italic;
  margin: 0;
  font-size: .875rem;
}

.col {
  float: left;
  width: 24%;
  text-align: left;
  overflow: hidden;
  padding: .5rem 1rem 3rem;
  font-size: 1rem;
  line-height: 1.5;
}

.img {
  text-align: center;
}

.first-c {
  background-color: #e2e2e2;
}

.second-c {
  background-color: #ccc;
}

.third-c {
  background-color: #aaa;
}

.fourth-c {
  background-color: #999;
}

.wrapper {
  overflow: hidden;
  background-color: #f2f2f2;
  padding-bottom: 3rem;
}
